<div class="view">
  <input class="toggle" type="checkbox" [value]="todo.completed" (click)="toggleCompleted()">
  <label (dblclick)="editTodo()">{{todo.title}}</label>
  <button class="destroy" (click)="removeTodo()"></button>
</div>
<form (ngSubmit)="saveEdits('submit', f)" #f="ngForm">
  <input class="edit"
         ng-trim="false"
         name="title"
         ngModel
         todo-escape="revertEdits()"
         ng-blur="saveEdits('blur', f)"
         appFocus
         [shouldFocus]="editing"
  >
</form>
